@model IEnumerable<ProyectoRH.Models.Departamentos>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<form action="Index" method="post">
    Find by name: @Html.TextBox("SearchString")
    <input type="submit" value="Search" />
</form>
<table class="table table-dark">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CodigoDepartamento }) |
            @Html.ActionLink("Details", "Details", new { id=item.CodigoDepartamento }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CodigoDepartamento })
        </td>
    </tr>
}

</table>
